body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-family: 'Nunito', sans-serif;

}



ul, li {
	display: block;
}

a {
	text-decoration: none;
}

.container {
	width: 1125px;
	margin: 0 auto;
}




.navigation {
	display: flex;
} 

.navigation__img {
	margin: 20px 0px 0px 100px;
    width: 25px;
    height: 26px;
}

.navigation_boxs {
	width: 100%;
}

.navigation__main {
	margin: 20px 0px 0px 594px;
	float: right;
	
}

.navigation__menu {
	display: flex;
	font-size: 12px;
}

.navigation__menu li {
	margin-right: 40px;
}

.navigation__cta {
	color: #000;
	font-weight: 700;
}

.navigation__cta:hover {
	color: #10c9c3;
}

.food {
	display: flex;
}

.food__eat img {
	height: 510px;
    width: 100%;
    padding-top: 20px;

}

.food__me {
	display: block;
	width: 88%;
	padding-top: 40px;

}

.food__headline {
	font-size: 30px;
	color: #000;
	padding-bottom: 30px;
}


.food__text {
	width: 100%;
	text-align: left;
	color: #787878;
}

.food__text-padd {
	padding-top: 30px;
	padding-bottom: 30px;
}

.food__img {
	margin: 40px 0px 105px 0px;
}

.food__style {
	font-weight: 700;
	color: #000;
}

.food__services {
	color: #787878;
	text-align: left;
}

.items {
	background: #f6f6f6;
	margin-top: 100px;
}





.carousel > div:not(.active){
    display: none;
}

.carousel__text {
	font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
 }



#circles {
    margin-right: 50px;
	text-align: center;
	margin-top: 50px;

}
#circles li {
    display: inline-block;
    border-radius: 15px;
    width: 6px;
    height: 6px;
    margin: 0 0 10px 10px;
    background: #b0e8e6;
    cursor: pointer;
}
#circles li.active {
    background: #2bccc4;
    width: 9px;
    height: 9px;
}


.footer {
	margin-top: 70px;
	height: 235px;
	width: 100%;
	background: #000;
}

.contacts {
	display: flex;
	color: #898989;
	line-height: 2em;
}

.contacts__inc {
	padding: 60px 0px 20px 0px;
	color: #fff;
}

.contacts__connect {
	padding: 60px 150px 0px 170px;
}

.contacts__about {
	padding: 60px 65px 0px 0px;
}

.contacts__new {
	padding: 60px 140px 0px 0px;
}

.contacts__social {
	padding-top: 60px;
}
